        html
        {
            background-color:rgb(42,43,47);
        }
        p
        {
            color :white;
            font-size: large;
        }
         img 
        {
            margin-left: 420px ;
        }
        h3
        {
            color:#00AF8B;
        }